@model NolveltyApp.Models.CertEntry
@{
    ViewBag.Title = " Confirmation ";
}

<h2>@ViewBag.Title</h2>
<p>Congratulations, your form is submitted, and will be sent to the email recipients you selected.</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
