@model NolveltyApp.Models.CertEntry
@{
    ViewBag.Title = " Error ";
}

<h2>@ViewBag.Title</h2>
<p>An error occured when attempting to create your certificate. Please try again.</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
