@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "File Type Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You submitted the wrong file type. Please use a .jpg, .png or .pdf file.</h2>
<p>@Html.ActionLink("Return to Register","Register")</p>

